*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: sans-serif;
    font-size: 12px;
    background-color: black;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/***** HEADER *****/

header{
    min-height: 50px;
    padding-top: 5px;
    display: flex;
    justify-content: flex-end;
    /*border: 2px dashed white;*/
}

header a{
    text-decoration: none;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
    background-color: grey;
}

/***** / HEADER *****/

/***** MAIN *****/

main{
    width: 90%;
    margin: 0px 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*border: 2px dashed white;*/
}

.user{
    margin-bottom: 7px;
    position: relative;
    /*border: 2px dashed white;*/
}

.user p{
    position: absolute;
    bottom: 4px;
    left: 0px;
    color: white;
    background-color: grey;    
}

/***** / MAIN *****/

/***** FOOTER *****/

footer{
    color: white;
    display: flex;
    flex-direction: row;
    background-color: rgb(36, 35, 35);
    /*border: 2px dashed white;*/
}

.mic-video{
    width: 25%;
    /*border: 2px dashed white;*/  
}

.footer-command{
    width: 50%;  
    justify-content: space-around;
    /*border: 2px dashed white;*/   
}

.end-call{
    width: 25%;
    /*border: 2px dashed white;*/   
}

.command ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.command .active{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 10px;
    color: white;
    text-decoration: none;
}

.active > i{
    font-size: 25px;
    padding: 10px;
}

.fa-share-square{
    color: greenyellow;
}

.angle{
    padding-top: 30px;
}

.end-call{
    display: flex;
    justify-content: flex-end;
}

#end{
    width: 100px;
    height: 100%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;      
}

#end a{
    color: red;
    text-decoration: none;
    font-size: 12px;
}

/***** / FOOTER *****/